*{font-family: 'Fira Sans', sans-serif;}

.btn-primary{background-color: #444242;border-color: #444242;}
.btn-primary:hover{background-color: black;border-color: #444242;}
.btn-primary:visited{background-color: black;border-color: #444242;}	
.btn-primary:active{background-color: #444242;border-color: black;}		
.navbar-inverse .navbar-toggle{border-color: transparent;}
a{color: #edb923;}
a:hover{color: #b58d1b;}
.navbar-default{background-color: black; border-color:black;}
.navbar-brand{width: 125px;padding: 5px 5px; margin: 0 17px 0 5px !important;}
img.menu_style{width: 28px;}
img.menu_style:hover{width: 20px;}
button.navbar-toggle.collapsed{padding: 0; margin-top: 11px;}
.navbar-default .navbar-toggle{border: none;}
#superor_imagen {
	background: radial-gradient(rgba(0, 0, 0, 0.5) 15%, transparent 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.5) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #024959;
    background-size: 16px 16px;
	/*background-color: #024959;*/width:100%;
	height: 208px;border-bottom:solid #0a2227 4px;
}
img#imagen-perfil {
	width:230px;height: auto;
	margin: 85px auto;left: 0;
	right: 0;position: absolute;
	padding-right: 0;
    padding-left: 0;
    border: solid #0a2227 4px;
    -webkit-box-shadow: inset 0px -9px 17px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px -9px 17px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px -9px 17px 0px rgba(0,0,0,0.25);
}
.navbar{margin-bottom: 0px; }
div#texto_inicial {
	text-align: center;
	margin-top: 125px;
}
h1{font-weight: 300;
font-size: 45px}
p{
	text-align: justify;
	font-weight: 300;
}
p#parrafos {
    font-size: 17px;
    padding: 20px 100px 10px 100px;
}
div#home{
    position: relative;
    overflow: hidden;
}
div#conocimientos{
    position: relative;
    overflow: hidden;
}
div#galeria{
    position: relative;
    overflow: hidden;
}
div#quien_soy{
    position: relative;
    overflow: hidden;
}
img.logos_u {
    width: 150px;
}
p.certif_center {
    text-align: center;
}
div#container-fluid-full {
    padding-right: 0;
    padding-left: 0;
}
p#caja_conoci_1 {
    background-color: rgba(211, 63, 34, 0.02);;
}
h3#center_h3 {
    text-align: center;
}
div#full_w {
    padding-right: 0;
    padding-left: 0;
}
h2.conocimientos_naranja {
    padding: 20px 0 20px 0;
    text-align: center;
    background: radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #D33F22;
    background-size: 16px 16px;
    color: white;
    width: 100%;
}
h2#galeria_amarillo {
    position: relative;
    padding: 20px 0 20px 0;
    text-align: center;
    background: radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #edb923;
    background-size: 16px 16px;
    color: white;
    width: 100%;
}
h2#quien_soy_azul{
    position: relative;
    padding: 20px 0 20px 0;
    text-align: center;
    background: radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #024959;
    background-size: 16px 16px;
    color: white;
    width: 100%;	
}
h2#contactame_negro{
    position: relative;
    padding: 20px 0 20px 0;
    text-align: center;
    background: radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #000;
    background-size: 16px 16px;
    color: white;
    width: 100%;	
}

/*CARRUSEL*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 45%;
      margin: auto;
  }
  div#carousel_responsive {
    position: absolute;
    width: 100%;
    padding-right: 0px;
    padding-left: 0;
    margin-top: 115px;
}
div#back_galery{
	width: 100%;
    height: 630px;
	background-color: rgb(0, 0, 0);
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 10%, transparent 16%);
    background-size: 7px 7px;
    background-position: 0 0, 30px 30px;
}

button#btn_mobile_contactame{display: none;}
h3#h3_center{text-align: center;}
img#img_juank_drum {
    display: block;
    margin: 0 auto;
}
div#links{text-align: center;}
img.sociales {width: 30px;opacity: 0.5}
img.sociales:hover {opacity: 1}
#piePag {
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}
h4.text_info {text-align: left;}
img.img_conoci_gen{width: 20px;height: auto;margin-right: 3px;}
p#terminosCondiciones {text-align: center;font-size: 8px;}
/*......................................................MEDIA QUERIES.......................................................*/
@media (min-width: 768px){.navbar-right{margin-top: 8px;margin-right: 5px;}}

@media only screen and (max-width : 414px) {
        #superor_imagen {height: 150px;}
        img#imagen-perfil{margin: 70px auto;width: 150px;}
        div#texto_inicial{margin-top: 63px;}
        h1{font-size:40px;}
        p#parrafos{padding: 10px 0 10px 0; font-size: 17px}
        img.logos_u {width: 75px;}
        h2.seleccion_azul{margin-top: 35px;}
        p#caja_conoci_1 {background-color: #fff;}
        div#back_galery{height: 300px}
    	button#btn_mobile_contactame{display: inline;margin-top: 8px;color: #fff;}
    	img#img_juank_drum{width: 90%}
    	img.img_miniatura_galery {width: 51px;}
    }


